{% extends 'account/auth_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Change Password</title>
{% endblock %}
{% block content %}
    <style>
        #centerplace {
            place-items: center;
            margin-top: 10%;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center" id="centerplace">
            <div class="col-5">
                <center>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Change</button>
                    </form>
                </center>
            </div>
        </div>

    </div>
{% endblock %}