{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h1 class="d-flex display-4 justify-content-center">Shared Hosting</h1>
        <p class="d-flex lead justify-content-center">
            Super Fast Server, All SSD Storage, 99.9% uptime
        </p>
        <div class="row d-flex justify-content-center ">
            {% for plan in plans %}
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="card">
                        <img src="{{ plan.image.url }}" class="card-img-top" alt="Image">
                        <div class="card-title">
                            {{ plan.title }}
                        </div>
                        <div class="pricing-card-title">
                            ₹{{ plan.price }}
                        </div>
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-4 d-flex justify-content-start">
                                    <form method="post" id="bn-{{ plan.id }}">
                                        {% csrf_token %}
                                        <button class='text-white btn bg-primary' type="submit">Buy Now
                                        </button>
                                    </form>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <form id="atc-{{ plan.id }}">
                                        {% csrf_token %}
                                        <button class="text-white btn bg-info" type="submit">Add
                                            to Cart
                                        </button>
                                    </form>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <form id="rfc-{{ plan.id }}">
                                        {% csrf_token %}
                                        <button class="text-white btn bg-info" type="submit">Remove
                                            from Cart
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[id^=atc]').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/add-to-cart/',
                    data: {
                        pk: e.target.id.toString().substr(4),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        alert("Successfully added to cart")
                        $('#cart').load(document.URL + ' #cart');
                    },
                    error: function () {
                        console.log(e.target.id.toString().substr(4))
                    }
                });
            });
            $('[id^=rfc]').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/remove-from-cart/',
                    data: {
                        pk: e.target.id.toString().substr(4),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        alert("Successfully removed from cart")
                        $('#cart').load(document.URL + ' #cart');
                    },
                    error: function () {
                        console.log(e.target.id.toString().substr(4))
                    }
                });
            });
        });
    </script>
{% endblock %}